doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title 喵德利

		// general style
		link(rel="stylesheet", href="/common-res/css/font.css", type="text/css")

		// user style
		link(rel="stylesheet", href="/channel-res/css/style.css", type="text/css")

	body.font-hei#af0-skip
		div.chat-panel
			h1.title 聊天
			div.status#status 正在加载...
			div.load-history.none
				a(href="javascript:") 查看更早的记录
			div.chat-list#chat-list
			div.editor
				div.one-line-editor
					div.content
						textarea(rows="1")
						div.tip 按回车键发送
				div.code-editor.none
					div.content
						select
							option(value="abap") ABAP
							option(value="actionscript") ActionScript
							option(value="ada") ADA
							option(value="apache_conf") Apache Conf
							option(value="asciidoc") AsciiDoc
							option(value="assembly_x86") Assembly x86
							option(value="autohotkey") AutoHotKey
							option(value="batchfile") BatchFile
							option(value="c9search") C9Search
							option(value="c_cpp") C/C++
							option(value="cirru") Cirru
							option(value="clojure") Clojure
							option(value="cobol") Cobol
							option(value="coffee") CoffeeScript
							option(value="coldfusion") ColdFusion
							option(value="csharp") C#
							option(value="css") CSS
							option(value="curly") Curly
							option(value="d") D
							option(value="dart") Dart
							option(value="diff") Diff
							option(value="dot") Dot
							option(value="erlang") Erlang
							option(value="ejs") EJS
							option(value="forth") Forth
							option(value="ftl") FreeMarker
							option(value="gherkin") Gherkin
							option(value="glsl") Glsl
							option(value="golang") Go
							option(value="groovy") Groovy
							option(value="haml") HAML
							option(value="handlebars") Handlebars
							option(value="haskell") Haskell
							option(value="haxe") haXe
							option(value="html") HTML
							option(value="html_ruby") HTML (Ruby)
							option(value="ini") INI
							option(value="jack") Jack
							option(value="jade") Jade
							option(value="java") Java
							option(value="javascript") JavaScript
							option(value="json") JSON
							option(value="jsoniq") JSONiq
							option(value="jsp") JSP
							option(value="jsx") JSX
							option(value="julia") Julia
							option(value="latex") LaTeX
							option(value="less") LESS
							option(value="liquid") Liquid
							option(value="lisp") Lisp
							option(value="livescript") LiveScript
							option(value="logiql") LogiQL
							option(value="lsl") LSL
							option(value="lua") Lua
							option(value="luapage") LuaPage
							option(value="lucene") Lucene
							option(value="makefile") Makefile
							option(value="matlab") MATLAB
							option(value="markdown") Markdown
							option(value="mel") MEL
							option(value="mysql") MySQL
							option(value="mushcode") MUSHCode
							option(value="nix") Nix
							option(value="objectivec") Objective-C
							option(value="ocaml") OCaml
							option(value="pascal") Pascal
							option(value="perl") Perl
							option(value="pgsql") pgSQL
							option(value="php") PHP
							option(value="powershell") Powershell
							option(value="prolog") Prolog
							option(value="properties") Properties
							option(value="protobuf") Protobuf
							option(value="python") Python
							option(value="r") R
							option(value="rdoc") RDoc
							option(value="rhtml") RHTML
							option(value="ruby") Ruby
							option(value="rust") Rust
							option(value="sass") SASS
							option(value="scad") SCAD
							option(value="scala") Scala
							option(value="smarty") Smarty
							option(value="scheme") Scheme
							option(value="scss") SCSS
							option(value="sh") SH
							option(value="sjs") SJS
							option(value="space") Space
							option(value="snippets") snippets
							option(value="soy_template") Soy Template
							option(value="sql") SQL
							option(value="stylus") Stylus
							option(value="svg") SVG
							option(value="tcl") Tcl
							option(value="tex") Tex
							option(value="text") Text
							option(value="textile") Textile
							option(value="toml") Toml
							option(value="twig") Twig
							option(value="typescript") Typescript
							option(value="vbscript") VBScript
							option(value="velocity") Velocity
							option(value="verilog") Verilog
							option(value="xml") XML
							option(value="xquery") XQuery
							option(value="yaml") YAML
						div.ace-editor
						button.send 发送
						a(href="javascript:").close 返回普通编辑模式



		div.template(style="display:none")
			div.chat-item
				div.face
					img
				div.container
					strong.email-name
						span.email
						span.name
					span.date-time
					a.delete(href="javascript:").none 删除
					div.content
			a.website(href="javascript:")
				div
					img.website-favicon
					span.website-count 200
					div.website-title
				div.website-url
			div.image-url(target="_blank")
				img
			a.broken-url(target="_blank")
			a.url(target="_blank")
			div.code-url
				pre
					code
			div.code

		audio#audio-notify(src="audio/notify.ogg")

		// user scripts
		script(type="text/javascript", src="//cdn.jsdelivr.net/ace/1.1.3/min/ace.js", charset="utf-8")

		script(type="text/javascript", src="/common-res/js/json-request.js")
		script(type="text/javascript", src="/common-res/js/md5.js")
		script(type="text/javascript", src="/common-res/js/util.js")
		script(type="text/javascript", src="/channel-res/js/minido.js")
		script(type="text/javascript", src="/channel-res/js/audio-manager.js")

		script(type="text/javascript", src="/channel-res/js/dom-wrapper/noticer.js")
		script(type="text/javascript", src="/channel-res/js/dom-wrapper/chat.js")
		script(type="text/javascript", src="/channel-res/js/dom-wrapper/editor.js")
		script(type="text/javascript", src="/channel-res/js/dom-wrapper/channel.js")
		script(type="text/javascript", src="/channel-res/js/gui.js")

		script(type="text/javascript", src="/common-res/js/requester.js")
		script(type="text/javascript", src="/common-res/js/syncer.js")
		script(type="text/javascript", src="/channel-res/js/app.js")
