doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title 交流

		// general style
		link(rel="stylesheet", href="/channel-res/css/font.css", type="text/css")

		// user style
		link(rel="stylesheet", href="/channel-res/css/style.css", type="text/css")

	body.font-hei#af0-skip
		div.chat-panel
			h1.title 聊天
			div.chat-list#chat-list
			div.editor
				div.author
					input(type="text",placeholder="email")
				div.content
					textarea(rows="1")

		div.template(style="display:none")
			div.chat-item
				div.face
					img
				strong.author
				span.date-time
				div.content
			a.website(href="#")
				div
					img.website-favicon
					span.website-count 200
					div.website-title
				div.website-url
			div.image-url(target="_blank")
				img
			a.broken-url(target="_blank")
			a.url(target="_blank")

		audio#audio-notify(src="audio/notify.ogg")

		// user scripts
		script(type="text/javascript", src="/channel-res/js/json-request.js")
		script(type="text/javascript", src="/channel-res/js/md5.js")
		script(type="text/javascript", src="/channel-res/js/util.js")
		script(type="text/javascript", src="/channel-res/js/minido.js")
		script(type="text/javascript", src="/channel-res/js/audio-manager.js")

		script(type="text/javascript", src="/channel-res/js/dom-wrapper/chat.js")
		script(type="text/javascript", src="/channel-res/js/dom-wrapper/editor.js")
		script(type="text/javascript", src="/channel-res/js/dom-wrapper/channel.js")
		script(type="text/javascript", src="/channel-res/js/gui.js")

		script(type="text/javascript", src="/channel-res/js/crud.js")
		script(type="text/javascript", src="/channel-res/js/syncer.js")
		script(type="text/javascript", src="/channel-res/js/app.js")