doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title chat on page

		// general style
		link(rel="stylesheet", href="css/font.css", type="text/css")
		link(rel="stylesheet", href="css/template.css", type="text/css")

		// user style
		link(rel="stylesheet", href="css/style.css", type="text/css")

	body.font-hei#af0-disable
		div.chat-panel
			h1.title 聊天
			div.chat-list#chat-list
			div.send-editor
				div.author-container
					input(type="text", placeholder="email")#author
				div.content-container
					textarea#content
				button#send(accesskey="s") 发送
				span.shortcut alt+s | ctrl+enter

		div.website-panel
			h1.title 站点
			div.website-list#website-list

		div.template
			div.chat-item
				div.face
					img
				strong.author
				div.content
			a.website(href="#")
				div
					img.website-favicon
					div.website-title
				div.website-url

		// user scripts
		script(type="text/javascript", src="js/json-request.js")
		script(type="text/javascript", src="js/md5.js")
		script(type="text/javascript", src="js/message-manager.js")
		script(type="text/javascript", src="js/util.js")
		script(type="text/javascript", src="js/ui.js")
		script(type="text/javascript", src="js/app.js")
