doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title 喵德利

		// general style
		link(rel="stylesheet", href="/common-res/css/font.css", type="text/css")

		// user style
		link(rel="stylesheet", href="/index-res/css/style.css", type="text/css")

	body.font-hei#af0-skip
		div.container
			h1 喵德利
			h3 请输入您的邮箱地址后点击进入

			div.padding-fixer
				input#email(type="text",placeholder="email")
			button#enter-bt 进入
			a#clear-bt(href="#") 清除

		// user scripts
		script(type="text/javascript", src="/common-res/js/util.js")
		script(type="text/javascript", src="/index-res/js/app.js")

