doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title 无法兼容您的浏览器
	body
		p 由于您使用的浏览器版本太低，导致页面无法正常显示。
		p 建议您将 IE 升级到 10.0 或以上版本后再试试。
		p :)

