doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title 用法

		// general style
		link(rel="stylesheet", href="/css/font.css", type="text/css")

		style.
			img.step {
				width: 400px;
				margin-top: 40px;
				margin-right: 20px;
			}

	body.font-hei#af0-skip
		h1 简单易用，只需两步
		ol
			li 第一步：打开一个你常去的网站，例如谷歌（
				a(href="http://www.google.com") www.google.com
				| ）
			li 第二步：当页面加载出来后，点击浏览器右上角的这个
				img(src="/img/icon.png", style="width:16px;height:16px")
				| 图标，然后就可以啦
		div
			img(src="/img/step1.png").step
			img(src="/img/step2.png").step