html, body {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
}

body {
	background: white;
}

.chat-panel {
	position: absolute;
	top: 0;
	right: 300px;
	bottom: 0;
	left: 0;
	overflow: auto;
	box-shadow: 0 0 10px black;
	z-index: 2;
}

.website-panel {
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #eee;
	color: #333;
}

a.website {
	display: block;
	text-decoration: none;
	color: inherit;
}

a.website:hover {
	background: rgba(0, 133, 95, 0.07);
}

.website {
	padding: 10px;
}

a.website.current {
	background: rgb(0, 133, 95);
	color: white;
}

img.website-favicon {
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 1px;
	margin-right: 4px;
}

.website-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.website-url {
	font-size: .75em;
}

h1.title {
	padding: 0 10px;
}

.chat-item {
	padding: 20px 10px;
}

.chat-item .face {
	position: absolute;
	border-width: 4px;
	border-color: #eee;
	display: block;
	border-style: solid;
	left: 10px;
	width: 52px;
	height: 52px;
	background: white;
}

.chat-item .face > img {
	border: solid 1px white;
}

.chat-item .author {
	font-size: .75em;
	display: inline-block;
	color: #333;
	background: #eee;
	/*background: #333;*/
	padding: 4px 8px;
	border-radius: 0 4px 4px 0;
	margin-bottom: .25em;
	margin-left: 60px;
}

.chat-item .author {
	white-space: pre-wrap;
	word-break: break-all;
}

.chat-item.me .face {
	border-color: rgb(0, 133, 95);
}

.chat-item.me .author {
	color: white;
	background: rgb(0, 133, 95);
}

.chat-item .date-time {
	padding: 4px 0;
	font-family: Georgia;
	font-size: .75em;
	margin-left: 10px;
	color: #888;
}

.chat-item .content {
	white-space: pre-wrap;
	word-break: break-all;
	margin-left: 70px;
	margin-top: .5em;
}

.send-editor {
	border-top: 1px solid #eee;
	padding: 20px 0;
	background: white;
}

div.author-container {
	padding-right: 14px;
	margin: 10px;
	margin-bottom: 5px;
}

input#author {
	display: block;
	border: 1px solid #ccc;
	padding: 4px 6px;
	font-size: inherit;
	font-family: inherit;
	background: inherit;
	width: 100%;
	outline-color: rgb(0, 204, 146);
}

div.content-container {
	padding-right: 14px;
	margin: 10px;
}

textarea#content {
	display: block;
	border: 1px solid #ccc;
	width: 100%;
	height: 38px;
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 4px 6px;
	background: inherit;
	outline-color: rgb(0, 204, 146);
}

button#send {
	font-size: inherit;
	font-family: inherit;
	margin: 0 10px;
	display: inline-block;
	width: 120px;
	padding: 4px;
}

.shortcut {
	color: gray;
}